@font-face {
    font-family: "SourceHanSansCN";
    src:
        local("Source Han Sans CN"),
        local("SourceHanSansCN"),
        local("Noto Sans SC"),
        url("./SourceHanSansCN-Regular.subset.woff2") format("woff2");
    /* font-weight: normal;
    font-style: normal; */
    font-display: swap;
}

body {
    font-family: "Sarasa Mono SC";
    /* pre‑wrap：保留空格换行，长文本自动换行 */
    /* white-space: pre-wrap; */
}